#change-status {
  position: relative;
  display: inline-block;
}

.custom-dropdown {
  display: none;
  position: absolute;
  margin-top: 1em;
  background-color: #f4fcff;
  min-width: 40rem;
  border-color: #eee;
  border-width: 1px;
  border-style: ridge;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1050;
}

.custom-dropdown-visible { display:block; }
