@import 'bootstrap/scss/_functions';

// Default variable overrides
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
) !default;

// Configuration
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
@import 'bootstrap/scss/_utilities';
@import 'bootstrap/scss/utilities/_api';

footer {
  height: 58px;
  width: 100%;
  background-color: #278ece;
  color: white;
  display: flex;
  align-items: center;
}

footer span {
  margin-left: 20px;
}

// Layout & components
@import 'bootstrap/scss/_root';
@import 'bootstrap/scss/_reboot';
@import 'bootstrap/scss/_type';
@import 'bootstrap/scss/_containers';
@import 'bootstrap/scss/_grid';
@import 'bootstrap/scss/_forms';
@import 'bootstrap/scss/_buttons';
@import 'bootstrap/scss/_nav';
@import 'bootstrap/scss/_navbar';
@import 'bootstrap/scss/_card';
@import 'bootstrap/scss/_images';
@import 'bootstrap/scss/helpers/_position';
