@import 'bootstrap/scss/_functions';

// Default variable overrides
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
) !default;

// Configuration
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
@import 'bootstrap/scss/_utilities';
@import 'bootstrap/scss/utilities/_api';

// Layout & components
@import 'bootstrap/scss/_root';
@import 'bootstrap/scss/_reboot';
@import 'bootstrap/scss/_type';
@import 'bootstrap/scss/_containers';
@import 'bootstrap/scss/_grid';
@import 'bootstrap/scss/_forms';
@import 'bootstrap/scss/_buttons';
@import 'bootstrap/scss/_nav';
@import 'bootstrap/scss/_navbar';
@import 'bootstrap/scss/_card';
@import 'bootstrap/scss/_images';
@import 'bootstrap/scss/helpers/_position';

// Custom
@import 'custom_dropdown';
@import 'footer';

p {
 @extend .text-muted;
}

h5, .h5 {
  color: #e8e8e8;
}

button {
  font-size: 14px;
  border: 1px solid #e8e8e8;
  outline: none;
  margin-bottom: 16px;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding-left: 15px;
}
