@import 'bootstrap/scss/_functions';

// Variables
$base-blue: #278ece;

// Default variable overrides
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
) !default;

$primary: $base-blue;
$font-size-base: 0.9rem;
$btn-padding-x: 2.5rem;


// Configuration
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
@import 'bootstrap/scss/_utilities';
@import 'bootstrap/scss/utilities/_api';

// Layout & components
@import 'bootstrap/scss/_root';
@import 'bootstrap/scss/_reboot';
@import 'bootstrap/scss/_type';
@import 'bootstrap/scss/_containers';
@import 'bootstrap/scss/_grid';
@import 'bootstrap/scss/_forms';
@import 'bootstrap/scss/_buttons';
@import 'bootstrap/scss/_nav';
@import 'bootstrap/scss/_navbar';
@import 'bootstrap/scss/_card';
@import 'bootstrap/scss/_images';
@import 'bootstrap/scss/helpers/_position';

// Custom
@import 'custom_dropdown';
@import 'footer';

p {
 @extend .text-muted;
}

.poisk{
  height: 38px;
  width: 350px;
  margin: 10px 57px;
  margin-right: 350px;
  border-radius: 19px;
  border: 0;
  background-color: #1b6ea1;
  color: white;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNS44NTMgMTYuNTZjLTEuNjgzIDEuNTE3LTMuOTExIDIuNDQtNi4zNTMgMi40NC01LjI0MyAwLTkuNS00LjI1Ny05LjUtOS41czQuMjU3LTkuNSA5LjUtOS41IDkuNSA0LjI1NyA5LjUgOS41YzAgMi40NDItLjkyMyA0LjY3LTIuNDQgNi4zNTNsNy40NCA3LjQ0LS43MDcuNzA3LTcuNDQtNy40NHptLTYuMzUzLTE1LjU2YzQuNjkxIDAgOC41IDMuODA5IDguNSA4LjVzLTMuODA5IDguNS04LjUgOC41LTguNS0zLjgwOS04LjUtOC41IDMuODA5LTguNSA4LjUtOC41eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: left;
  border-left: 17px solid transparent;
  padding-left: 50px;
  outline: none;
}

.btn-primary {
  color: white;
}
